# Python
__pycache__/
.venv/
*.pyc

# Node/Front-end (in case)
node_modules/

# Mac/OSX
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars
*.tfvars

# Go
bin/
dist/
go.sum
**/bootstrap
**/ingest
**/dqcheck

# IDE
.idea/
.vscode/

# Build artifacts
*.zip
*.jar


